<!-- TOOLBAR -->
<mat-toolbar class="toolbar">
  <img
    src="assets/img/studio.png"
    alt="Logo"
    class="logo"
    routerLink="">
</mat-toolbar>

<mat-card class="main">

  <mat-horizontal-stepper linear #stepper>
    <mat-step>
      <mat-card class="center-step">
        <h1>Publique seu vídeo</h1>

        <form [formGroup]="fg"  >
        <mat-form-field appearance="outline">
          <mat-label>
            Título do vídeo
          </mat-label>
          <input matInput placeholder="Insira o título do vídeo" formControlName="titulo" name="titulo">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>
            Descrição do vídeo
          </mat-label>
          <textarea matInput placeholder="Insira a descrição do vídeo" formControlName="descricao" name="descricao"></textarea>
        </mat-form-field>

        <mat-label class="catagoria">Categoria</mat-label>

        <div class="category">
          <mat-checkbox  *ngFor="let categoria of categorias" (change)="onChangeCategoria($event,categoria)" name="categoria" [value]="categoria">{{categoria}}</mat-checkbox>
        </div>
        </form>

        <button mat-button class="center-btn" (click)="proximo(stepper)">Avançar</button>
      </mat-card>
    </mat-step>

    <mat-step>


    <div class="content">
      <div class="icon-upload">
        <mat-icon>
          cloud_upload
        </mat-icon>

      </div>

    <div>

    </div>

    <div class="upload-wrapper" aria-label="upload area">
      <input type="file" id="file" accept="video/*" class="file-input" (change)="onArquivoSelecionado($event)">

      <label for="file" class="btn-upload">
        <mat-icon class="btn-icon">file_upload</mat-icon>
        <span>Selecionar arquivo</span>
      </label>

      <p class="hint">ou arraste e solte aqui um vídeo (MP4, MOV)</p>

      <button mat-button (click)="cadastrarVideo(stepper)">Vasco</button>

      <div class="file-info" aria-live="polite"></div>
    </div>


    </div>
    </mat-step>

  </mat-horizontal-stepper>

</mat-card>
