<!-- TOOLBAR -->
<mat-toolbar class="toolbar">
  <img
    src="assets/img/img.png"
    alt="Logo"
    class="logo"
    routerLink="">
</mat-toolbar>

<mat-card class="main">

  <mat-horizontal-stepper #stepper>

    <!-- STEP 1 -->
    <mat-step>
      <form class="form">

        <mat-card class="card mat-elevation-z6">

          <mat-card-title>Publicar vídeo</mat-card-title>

          <div class="fields">

            <mat-form-field appearance="outline">
              <mat-label>Email:</mat-label>
              <input
              matInput
              name="email"
              type="email"
              required
              [(ngModel)]="video.email"
              >

            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Título</mat-label>
              <input
                matInput
                name="titulo"
                required
                [(ngModel)]="video.titulo">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Descrição</mat-label>
              <textarea
                matInput
                rows="4"
                name="descricao"
                required
                [(ngModel)]="video.descricao">
              </textarea>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Categoria</mat-label>
              <mat-select
                name="categoria"
                required
                [(ngModel)]="video.categoria">

                <mat-option value="CIENCIAS_EXATAS">Ciências Exatas</mat-option>
                <mat-option value="CIENCIAS_HUMANAS">Ciências Humanas</mat-option>
                <mat-option value="CIENCIAS_BIOLOGICAS">Ciências Biológicas</mat-option>
                <mat-option value="TECNOLOGIA_INOVACAO">Tecnologia e Inovação</mat-option>
                <mat-option value="ESPORTE">Esporte</mat-option>

              </mat-select>
            </mat-form-field>

          </div>

          <button
            mat-raised-button
            color="primary"
            class="btn-cadastrar"
            type="button"
            (click)="cadastrarVideo(stepper)">
            Próximo
          </button>

        </mat-card>
      </form>
    </mat-step>

    <!-- STEP 2 -->
    <mat-step>
      <mat-card class="card mat-elevation-z6">

        <mat-card-title>Confirmar dados</mat-card-title>

        <p><strong>Título:</strong> {{ video.titulo }}</p>
        <p><strong>Descrição:</strong> {{ video.descricao }}</p>
        <p><strong>Categoria:</strong> {{ video.categoria }}</p>

        <div class="actions">
          <button mat-button (click)="stepper.previous()">Voltar</button>

          <button
            mat-raised-button
            color="primary"
            >
            Publicar vídeo
          </button>
        </div>

      </mat-card>
    </mat-step>

    <!-- STEP 3 -->
    <mat-step>
      <mat-card class="card mat-elevation-z6">
        <mat-card-title>🎉 Vídeo publicado com sucesso!</mat-card-title>

        <button
          mat-raised-button
          color="accent"
          >
          Publicar outro vídeo
        </button>
      </mat-card>
    </mat-step>

  </mat-horizontal-stepper>

</mat-card>
