<mat-toolbar class="toolbar">
  <img src="assets/img/img.png" alt="Logo" class="logo">
</mat-toolbar>

<div class="container">

  <mat-card class="video-card mat-elevation-z4" >
    <div class="video-wrapper">
      <video #videoPlayer width="640" height="360" controls preload="metadata">
      </video>
    </div>
  </mat-card>

  <div class="btn-principal">
    <button mat-raised-button color="accent">
      <mat-icon>favorite</mat-icon>
    </button>

    <button mat-raised-button >
      <mat-icon>arrow_upward</mat-icon>
    </button>

    <button mat-raised-button>
      <mat-icon>arrow_downward</mat-icon>
    </button>

  </div>
  
</div>
