mat-toolbar {
  background-color: #050000;

}

.container {
  max-width: 450px;
  margin: auto;
  padding: 12px;

}

/* Card */
.video-card {
  border-radius: 16px;
  padding: 12px;
  position: relative;
}

.video-wrapper {
  position: relative;
  width: 100%;
  height: 800px;
  aspect-ratio: 9 / 16;
  background: black;
  border-radius: 12px;
  overflow: hidden;
}


.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.btn-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  margin-left: 480px;
  margin-top: -350px;
}
.btn-principal button{
  background-color: #050000;
  color: cyan;
  cursor: pointer;
  margin-bottom: 20px;
  transition:0.5s;
}
button:hover {
  background-color: cyan;
  color: #050000;
  transform: scale(1.1);
}

/* Container geral */
.nav {
  height: 100vh;
  width: 100%;
}

/* Garante altura total */
mat-sidenav-container {
  height: 100%;
}

/* Menu lateral */
.sidenav {
  width: 140px;
  background: black;
  color: #ffffff;
  box-shadow: 4px 0 12px rgba(0, 0, 0, 0.3);
  padding-top: 20px;
}

/* Itens do menu */
.menu-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 14px 22px;
  font-size: 15px;
  cursor: pointer;
  border-radius: 8px;
  margin: 4px 10px;
  transition: all 0.25s ease;
}

/* Hover */
.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.12);
  transform: translateX(4px);
}

/* Ícones */
.menu-item mat-icon {
  font-size: 22px;
  color: #90caf9;
}

/* Texto */
.menu-item span {
  font-weight: 500;
  letter-spacing: 0.3px;
}

/* Conteúdo principal */
.content {
  padding: 5px;
  background-color: #f4f6f8;
  min-height: 100%;
}

