<mat-toolbar>
  <img src="assets/img/img.png">
</mat-toolbar>

<div class="form">
  <mat-card-title>
    Cadastre-se
  </mat-card-title>

  <mat-form-field appearance="outline">
    <mat-label>Nome:</mat-label>
    <input matInput required >

  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>E-mail:</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Senha:</mat-label>
    <input matInput required>
  </mat-form-field>

  <mat-radio-group>
    <mat-radio-button value="ALUNO">Aluno</mat-radio-button>
    <mat-radio-button value="PROFESSOR">Professor</mat-radio-button>
  </mat-radio-group>

  <button mat-raised-button>Cadastrar</button>


</div>
