@import '@angular/material/prebuilt-themes/indigo-pink.css';


/* ===== Reset básico ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ===== Elementos padrão ===== */
html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

}

/* ===== Imagens ===== */
img {
  width: 80px;
  height: auto;
}

/* ===== Botões ===== */
button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

/* ===== Inputs ===== */
input, textarea, select {
  outline: none;
  font-family: inherit;
}

/* ===== Container de conteúdo (animado) ===== */
.form {
  animation: fade 0.5s ease;
}

/* ===== Keyframes ===== */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
button, .mat-mdc-button, .mat-raised-button {
  transition: transform 0.6s ease;
}

button:hover,
.mat-mdc-button:hover,
.mat-raised-button:hover {
  transform: scale(0.95);
}




